.auth-container {
  display: flex;
  width: fit-content;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  min-width: 50%;
  gap: 25px;
}

.auth-container app-dynamic-form {
  align-self: stretch;
}
