@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

#logo {
  font-family: 'Fugaz One', sans-serif;
  user-select: none;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  border-bottom: 1px solid var(--mat-sys-outline-variant);
  gap: 10px;
}

#drawer {
  border-radius: 0;
  border-right: 1px solid var(--mat-sys-outline-variant);
}

#drawer-container {
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 7px 15px 15px;
  position: relative;
}

#drawer-content {
  padding: 80px 20px 20px;
  height: calc(100% - 80px - 20px);
  overflow: auto;
}
