@if (loading()) {
  <div class="loading-state">Loading...</div>
} @else if (programs().length === 0) {
  <div class="empty-state">
    <p>Nothing found</p>
  </div>
} @else {
  @for (program of programs(); track program.id) {
    <mat-card
      style="padding: 15px; cursor: pointer"
      role="button"
      [routerLink]="`${program.id}`"
    >
      <div matCardTitle style="display: flex; align-items: center">
        {{ program.title }}
        <mat-chip
          style="
            margin-bottom: 5px;
            margin-top: 5px;
            margin-left: 5px;
          "
        >
          {{ program.deadlineApply | date: 'dd.MM.yyyy' }}
        </mat-chip>
      </div>
    </mat-card>
  }

  <mat-paginator
    [length]="totalElements()"
    [pageSize]="pageSize()"
    [pageIndex]="pageIndex()"
    [pageSizeOptions]="[10, 20, 50]"
    (page)="onPageChange($event)"
  >
  </mat-paginator>
}
