@use '@angular/material' as mat;

:host {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

mat-card-header {
  padding-bottom: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@include mat.list-overrides(
  (
    list-item-three-line-container-height: auto,
  )
);
